body {
    height: 100%;

    background-color: #282828 !important;
    color: white;
}

/* salva retina */

/* NAV */
#navbar {
    height: 60px;
}

#lens-nav {
    border-right: none !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    background-color: rgba(78, 78, 78, .1);
}

.form-control {
    border-left: none !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    background-color: rgba(78, 78, 78, .1);
}

/* END NAV */




/* DASHBOARD */
#dashboard {
    height: calc(100vh - 60px);
    background-color: dimgrey;
}

main {
    width: 100%;
    overflow-y: auto;
}

/* HEADER MAIN */
#header-main {
    background-color: #1d72e8;
}

#header-main * span {
    background-color: rgba(4, 4, 231, 0.222);
}



/* INFO */


/* END DASHBOARD */




/* SIDE NAV */
#side-nav {
    height: 100%;

    background-color: #00183a;
    background-image: url('../img/sidebar-bg.png');
}

/* END SIDE NAV */


@media screen and (max-width: 768px) {
    .collapse_side {
        display: none;
    }
}