body {
    background-color: #282828 !important;
    color: white;
}

/* salva retina */

/* NAV */
#navbar {
    height: 60px;
    z-index: 20;

}

/* END NAV */




/* DASHBOARD */
#dashboard {
    max-width: calc(100vw - 150px);
    padding-top: 60px;
    margin-left: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100vh;
}

/* HEADER MAIN */
#header-main {
    background-color: #1d72e8;
}

/* INFO */
#info {}

/* END DASHBOARD */




/* SIDE NAV */
#side-nav {
    padding-top: 60px;
    width: 150px;
    z-index: 10;
}

/* END SIDE NAV */